<div class="sidebar col-md-3">
		<div class="widget recent-post">
				<h4 class="title">Recent Post</h4>
				<div class="recent-post">
						<div class="post-item">
								<a href="single-post.html">
										<div class="post-thumb">
												<img src="img/content/recent-post-thumb-1.jpg" alt="" />
												<div class="overlay"></div>
										</div>
								</a>
								<div class="post-content">
										<a href="single-post.html">
												<h4>Lorem ipsum Dolor Sit Amet</h4>
										</a>
										<div class="meta">
												<span class="date">02 August, 2015</span>
										</div>
								</div>
						</div>

						<div class="post-item">
								<a href="single-post.html">
										<div class="post-thumb">
												<img src="img/content/recent-post-thumb-2.jpg" alt="" />
												<div class="overlay"></div>
										</div>
								</a>
								<div class="post-content">
										<a href="single-post.html">
												<h4>Lorem ipsum Dolor Sit Amet</h4>
										</a>
										<div class="meta">
												<span class="date">02 August, 2015</span>
										</div>
								</div>
						</div>

						<div class="post-item">
								<a href="single-post.html">
										<div class="post-thumb">
												<img src="img/content/recent-post-thumb-3.jpg" alt="" />
												<div class="overlay"></div>
										</div>
								</a>
								<div class="post-content">
										<a href="single-post.html">
												<h4>Lorem ipsum Dolor Sit Amet</h4>
										</a>
										<div class="meta">
												<span class="date">02 August, 2015</span>
										</div>
								</div>
						</div>

						<div class="post-item">
								<a href="single-post.html">
										<div class="post-thumb">
												<img src="img/content/recent-post-thumb-4.jpg" alt="" />
												<div class="overlay"></div>
										</div>
								</a>
								<div class="post-content">
										<a href="single-post.html">
												<h4>Lorem ipsum Dolor Sit Amet</h4>
										</a>
										<div class="meta">
												<span class="date">02 August, 2015</span>
										</div>
								</div>
						</div>
				</div>
		</div>

		<div class="widget archives">
				<h4 class="title">Archives</h4>
				<ul>
						<li><a href="blog.html">September 2015</a></li>
						<li><a href="blog.html">October 2015</a></li>
						<li><a href="blog.html">November 2015</a></li>
						<li><a href="blog.html">Desember 2015</a></li>
				</ul>
		</div>

		<div class="widget tags">
				<h4 class="title">Tags</h4>
				<div class="tag">
						<a href="blog.html">Warehouse</a>
						<a href="blog.html">Shipping</a>
						<a href="blog.html">Packaging</a>
						<a href="blog.html">Transport</a>
						<a href="blog.html">Truck</a>
						<a href="blog.html">Company</a>
						<a href="blog.html">Tips</a>
						<a href="blog.html">Business</a>
						<a href="blog.html">Courier</a>
				</div>
		</div>
</div>